/*Variables*/
/*Mixins*/
/*Universal Selector*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*Window Selector*/
.grid {
  width: 90%;
  margin: 0 5%;
  display: table;
  border-collapse: separate;
  border-spacing: 15px; }

/*Row Selector*/
.row {
  width: 100%;
  padding: 5px;
  display: table; }

/*Column Selectors*/
.col-1 {
  width: 6.5%;
  display: table-cell; }

.col-2 {
  width: 15%;
  display: table-cell; }

.col-3 {
  width: 23.5%;
  display: table-cell; }

.col-4 {
  width: 32%;
  display: table-cell; }

.col-5 {
  width: 40.5%;
  display: table-cell; }

.col-6 {
  width: 49%;
  display: table-cell; }

.col-7 {
  width: 57.5%;
  display: table-cell; }

.col-8 {
  width: 66%;
  display: table-cell; }

.col-9 {
  width: 74.5%;
  display: table-cell; }

.col-10 {
  width: 83%;
  display: table-cell; }

.col-11 {
  width: 91.5%;
  display: table-cell; }

.col-12 {
  width: 100%;
  display: table-cell; }

/*Alignment Selectors*/
.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.justify {
  text-align: justify; }

/*Float and Clears*/
.float_left {
  float: left;
  margin-left: 10%; }

.float_right {
  float: right;
  margin-right: 10%; }

.clear {
  clear: both; }

/*Margins*/
.header {
  padding-top: 60px; }

/*Padding Measurements*/
.pad {
  padding: 5px; }

/*Invisible*/
.invisible {
  visibility: hidden; }

/*Display Styles*/
.block {
  display: block; }

.inline {
  display: inline; }

.inline_block {
  display: inline-block; }

/*Fixed Top Nav*/
nav:before, nav:after {
  display: table;
  content: " ";
  clear: both; }

.toggle {
  background: transparent;
  display: none;
  padding: .25em; }
  .toggle:hover {
    cursor: pointer; }

nav {
  margin: 0 auto;
  width: 100%;
  background: #282828;
  padding: .25em .25em;
  border-bottom: 1px solid #6C6C6C;
  position: fixed; }
  nav ul {
    text-align: left; }
    nav ul li {
      display: inline-block;
      padding: 0 1%; }
      nav ul li a {
        transition: all 450ms ease-in-out;
        display: block;
        padding: .25em .25em;
        color: #FFFFFF;
        text-transform: uppercase; }
        nav ul li a:hover {
          transition: all 450ms ease-in-out;
          color: #8E1B1B; }

#title {
  transition: all 450ms ease-in-out;
  font-size: 1.25em;
  color: #8E1B1B; }
  #title:hover {
    transition: all 450ms ease-in-out;
    color: #FFFFFF; }

.show {
  height: auto;
  display: block; }

/*Media Query*/
@media (max-width: 700px) {
  .grid {
    width: 96%;
    margin: 0 2%;
    display: block;
    border-collapse: separate;
    border-spacing: 15px; }

  .row {
    display: block;
    width: 100%;
    margin: 0; }

  .col-1, .col-2, .col-3,
  .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9,
  .col-10, .col-11, .col-12 {
    display: block;
    width: 100%;
    margin: 5px 0; }

  nav {
    background: #282828;
    position: fixed; }

  .toggle {
    transition: all 450ms ease-in-out;
    display: block;
    float: right;
    color: #FFFFFF;
    font-size: 2em;
    padding: .25em .25em; }
    .toggle:hover {
      transition: all 450ms ease-in-out;
      color: #8E1B1B; }

  ul {
    display: none; }

  li {
    background: #282828;
    width: 100%;
    text-align: center; }

  .header {
    padding-top: 60px; }

  h1 {
    font-size: 1.75em; }

  h2 {
    font-size: 1.35em; }

  h3 {
    font-size: 1.15em; }

  h4 {
    font-size: 0.95em; }

  p {
    font-size: 0.85em; }

  span {
    font-size: 0.85em; } }

/*# sourceMappingURL=musemetrics.css.map */
